.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.projectName {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 48px;
  letter-spacing: -0.05em;
  opacity: 0;
  animation: slideInFromTop 400ms ease 400ms forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin: 32px 0 24px 0;
  color: hsl(220, 27%, 22%);
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: hsl(228, 14%, 58%);
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.overviewContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 80%;
  line-height: 1.5em;
  color: hsl(201, 23%, 34%);
}

.projectDetailsContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
}

/* .projectDetailsContainer div:nth-child(n + 2) {
  margin-bottom: 24px;
} */

.projectDetails {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-family: 'Open Sans', sans-serif;
  padding: 0 12px;
  margin-top: 16px;
  width: 240px;
}

.projectDetailsTitle {
  font-size: 12px;
  color: hsl(228, 14%, 79%);
  letter-spacing: 2px;
  /* margin-right: 16px; */
  margin-bottom: 4px;
  font-weight: 700;
}

.projectDetailsDescription {
  font-size: 20px;
  padding-bottom: 4px;
  width: 240px;
}

.projectImagesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
}

.stackContainer {
  display: flex;
}

.technologyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 48px;
}

.technologies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 8px;
  width: 95%;
}

/* .technologies div:nth-child(n + 2) {
  margin-left: 16px;
} */

/* .technologies div {
  margin-bottom: 10px;
} */

.link {
  text-decoration: none;
}

@media (max-width: 376px) {
  .projectName {
    font-size: 36px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }

  .description {
    font-size: 18px;
  }

  .projectDetailsDescription {
    font-size: 18px;
  }
}
