.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName {
  font-size: var(--fs-9);
  text-align: center;
  letter-spacing: -0.05em;
  color: hsl(220, 27%, 22%);
  margin-bottom: var(--mb-7);
  opacity: var(--opacity-0);
  animation: slideInFromTop 400ms ease 400ms forwards;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.sectionTitle {
  font-size: var(--fs-8);
  font-weight: var(--fw-5);
  width: 100%;
  margin: var(--mt-7) var(--mr-0) var(--mb-4) var(--ml-0);
  color: hsl(228, 21%, 31%);
}

.description {
  font-size: var(--fs-4);
  line-height: 1.75em;
  hyphens: auto;
  width: 100%;
  color: hsl(201, 23%, 34%);
}

h3 {
  color: hsl(228, 14%, 58%);
  font-size: var(--fs-6);
  font-weight: var(--fw-4);
  margin: var(--mt-5) var(--mr-0) var(--mb-4) var(--ml-0);
}

.projectImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: var(--mb-6);
}

.homeLink {
  font-size: var(--fs-5);
  color: hsla(0, 0%, 0%, 1);
  font-weight: var(--fw-4);
  background: linear-gradient(
    to top,
    rgba(255, 215, 0, 0.4) 35%,
    transparent 35%
  );
  margin-top: var(--mt-8);
  transition: background 250ms ease;
}

.homeLink:hover {
  background: hsla(51, 100%, 50%, 1);
}

@media (max-width: 376px) {
  .projectName {
    font-size: var(--fs-7);
  }

  .title {
    font-size: var(--fs-5);
  }

  .subtitle {
    font-size: var(--fs-3);
  }

  .description {
    font-size: var(--fs-4);
    width: 90%;
  }

  .projectDetailsDescription {
    font-size: var(--fs-4);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: var(--opacity-0);
    transform: translateY(-20px);
  }
  100% {
    opacity: var(--opacity-4);
    transform: translateY(0);
  }
}
