.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 50px; */
  font-family: 'Source Sans Pro', sans-serif;
}

.projectName {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  align-self: center;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  margin-top: 35px;
}

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.overviewContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projectDetailsTitle {
  margin-right: '15px';
  font-weight: '700';
}

.projectDetails {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

.projectDetails p:nth-child(-n + 1) {
  margin-bottom: 15px;
}

.projectImagesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 20px 0;
}

.stackContainer {
  display: flex;
}

.technologyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  /* position: relative; */
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  /* position: absolute; */
}

.technologies div:nth-child(n + 2) {
  margin-left: 20px;
}

.technologies div {
  margin-bottom: 10px;
}

/* .technologies div:nth-child(n + 3) {
  margin-left: 20px;
} */

.description {
  /* margin-bottom: 55px; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  width: 75%;
}

.link {
  text-decoration: none;
}

/* @media (max-width: 367px) {
  .technologies {
    width: 50%;
  }
} */
