.project {
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  width: 63vw;
  height: 40vw;
  min-width: 300px;
  min-height: 250px;
  margin-top: 64px;
  font-family: 'Open Sans', sans-serif;
  animation: slideInFromLeft 400ms ease;
}

.images {
  opacity: 0;
  animation: fadeIn 300ms ease 400ms forwards;
}

.laptop {
  position: relative;
  right: 66px;
  top: 25px;
  z-index: 1;
}

.screenshot {
  position: absolute;
  left: -78px;
  top: 55px;
  z-index: 1;
}

.overlay {
  display: none;
}

@media (min-width: 376px) {
  .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    top: 100%;
    padding-left: 32px;
    opacity: 0.95;
    z-index: 10;
    transition: all 250ms;
  }

  .project:hover .overlay {
    top: 50%;
  }
}

.projectTitle {
  color: rgb(235, 235, 235);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding-bottom: 8px;
}

.projectType {
  color: rgb(235, 235, 235);
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 767px) {
  .project {
    width: 60vw;
    height: 20vw;
    max-width: 375px;
    max-height: 230px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
