.project {
  position: relative;
  border-radius: var(--br-2);
  box-shadow: var(--bs-2);
  overflow: hidden;
  width: 63vw;
  height: 40vw;
  min-width: 300px;
  min-height: 250px;
  margin-top: var(--mt-8);
  opacity: var(--opacity-0);
  transform: translateX(-150px);
  animation: slideInFromLeft 900ms ease forwards;
}

.images {
  position: 'relative';
  overflow: 'hidden';
}

.laptop {
  position: relative;
  right: 66px;
  top: 20px;
  z-index: 1;
}

.screenshot {
  position: absolute;
  left: -78px;
  top: 50px;
  z-index: 1;
}

.overlay {
  display: none;
}

@media (min-width: 376px) {
  .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    top: 100%;
    padding-left: var(--pl-6);
    opacity: 0.97;
    z-index: 10;
    transition: top 250ms ease;
  }

  .project:hover .overlay {
    top: 50%;
  }
}

.projectTitle {
  color: hsl(0, 0%, 95%);
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  letter-spacing: -0.025em;
  padding-bottom: var(--pb-2);
}

.projectType {
  color: hsl(0, 0%, 95%);
  font-size: var(--fs-4);
  font-weight: var(--fw-3);
}

@media (min-width: 767px) {
  .project {
    width: 60vw;
    height: 20vw;
    max-width: 375px;
    max-height: 230px;
  }
}

@keyframes slideInFromLeft {
  0% {
    /* transform: translateX(-100px); */
    opacity: var(--opacity-0);
  }
  100% {
    transform: translateX(0px);
    opacity: var(--opacity-4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: var(--opacity-0);
  }
  100% {
    opacity: var(--opacity-4);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: var(--opacity-0);
    transform: translateY(-30px);
  }
  100% {
    opacity: var(--opacity-4);
    transform: translateY(0);
  }
}
