.project {
  margin-top: 64px;
  width: 63vw;
  height: 40vw;
  min-width: 300px;
  min-height: 250px;
  border-radius: 7px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  position: relative;
}

.project:hover .overlay {
  top: 50%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  top: 100%;
  align-items: center;
  transition: all 200ms;
  z-index: 10;
}

@media (min-width: 767px) {
  .project {
    width: 60vw;
    height: 20vw;
    max-width: 375px;
    max-height: 230px;
  }
}
