.container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
}

.icon {
  position: absolute;
}
