.link {
  color: hsla(0, 0%, 0%, 1);
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(255, 215, 0, 0.4) 35%,
    transparent 35%
  );
  text-decoration: none;
  transition: all 250ms;
}

.link:hover {
  background: hsla(51, 100%, 50%, 1);
}
