.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.title {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
}

.description {
  text-align: center;
  width: 60%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: hsl(201, 23%, 34%);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 767px) {
  .projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 367px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 24px;
  }
}
