.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 0;
  animation: slideInFromTop 400ms ease 400ms forwards;
}

.title {
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  font-size: 48px;
  letter-spacing: -0.05em;
  text-align: center;
  color: hsl(220, 27%, 22%);
  width: 75%;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
  color: hsl(228, 21%, 31%);
  width: 70%;
}

.projectsTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 96px;
  animation: slideInFromLeft 400ms ease;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: hsl(228, 21%, 31%);
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 767px) {
  .projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .title {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 24px;
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
