.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 0;
  animation: slideInFromTop 500ms ease 500ms forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: hsl(220, 27%, 22%);
  width: 70%;
  line-height: 1em;
  font-size: 48px;
  letter-spacing: -0.05em;
}

.description {
  text-align: center;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  color: hsl(228, 21%, 31%);
}

.informaticsLink {
  color: hsla(0, 0%, 0%, 1);
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(255, 215, 0, 0.4) 35%,
    transparent 35%
  );
  text-decoration: none;
  transition: all 250ms;
}

.informaticsLink:hover {
  background: hsla(51, 100%, 50%, 1);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 767px) {
  .projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 24px;
  }
}
