.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  border-top: 5px solid gray;
}

.icon {
  display: inline-block;
  border: 1px solid #707070;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 0 0px 10px;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0px 0px;
  width: 250px;
}

.bottomBorder {
  border-bottom: 4px solid #707070;
}

.link {
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 8px;
  transition: color 250ms;
}

.link:hover {
  color: #474646;
  cursor: pointer;
}

li {
  list-style: none;
}
