.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  /* border-top: 5px solid #2f7de3; */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #707070;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 0 0px 10px;
}

.iconText {
  position: absolute;
  color: #2f7de3;
  font-size: 30px;
  font-style: italic;
  left: 10px;
  top: 4px;
  font-family: 'Source Sans Pro', sans-serif;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0px 0px;
  width: 250px;
  align-self: center;
}

.bottomBorder {
  border-bottom: 4px solid #2f7de3;
}

.link {
  color: #707070;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */

  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 8px;
  transition: color 250ms;
}

.link:hover {
  color: #474646;
  cursor: pointer;
}

li {
  list-style: none;
}
