.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid white;
  background-color: #2f7de3;
  border-radius: 50%; */
  height: 50px;
  width: 50px;
  margin: 10px 0 0px 10px;
  top: 10px;
}

.iconText {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 600;
  /* font-style: italic; */
  left: 13px;
  top: 4px;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0px 0px;
  width: 250px;
  align-self: center;
}

.grayText {
  color: #707070;
}

.bottomBorder {
  border-bottom: 4px solid #2f7de3;
}

.link {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: rgb(32, 32, 32);

  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 8px;
  transition: color 250ms;
}

.link:hover {
  /* color: black; */
  cursor: pointer;
}

li {
  list-style: none;
}
