.container {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.18);
  border-radius: 7px;
  width: 70vw;
  height: 40vw;
  max-width: 670px;
  max-height: 370px;
  margin-bottom: 24px;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  transition: all 250ms ease;
}
.container:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.18);
  transform: translateY(-5px);
}

.caption {
  color: hsl(228, 14%, 58%);
  font-size: 14px;
  padding: 8px 0 0 16px;
  transition: all 250ms ease;
}

.container:hover .caption {
  font-size: 15px;
  color: hsl(233, 25%, 12%);
}

.screenshot {
  border-radius: 7px;
  margin: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .container {
    width: 70vw;
    height: 40vw;
    min-width: 290px;
    min-height: 155px;
  }

  .screenshots {
    border-radius: 7px;
    width: 55vw;
    height: 30vw;
    min-width: 290px;
    min-height: 155px;
  }

  .container:hover .caption {
    font-size: 13px;
  }

  .caption {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  .container:hover .caption {
    font-size: 11px;
  }

  .caption {
    font-size: 10px;
  }
}
