.container {
  box-shadow: var(--bs-2);
  border-radius: var(--br-1);
  width: 70vw;
  height: 40vw;
  max-width: 670px;
  max-height: 370px;
  margin-bottom: var(--mb-5);
  margin-top: var(--mt-7);
  transition: box-shadow 250ms ease, transform 250ms ease;
}
.container:hover {
  box-shadow: var(--bs-3);
  transform: translateY(-5px);
}

.caption {
  color: hsl(228, 21%, 31%);
  font-size: var(--fs-2);
  padding: var(--pt-2) var(--pr-0) var(--pl-0) var(--pb-4);
  transition: font-size 250ms ease, color 250ms ease;
}

.container:hover .caption {
  color: hsl(233, 25%, 12%);
}

.screenshot {
  border-radius: var(--br-1);
  margin: var(--m-0);
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .container {
    width: 70vw;
    height: 40vw;
    min-width: 290px;
    min-height: 155px;
  }

  .screenshots {
    border-radius: var(--br-1);
    width: 55vw;
    height: 30vw;
    min-width: 290px;
    min-height: 155px;
  }

  .caption {
    font-size: var(--fs-2);
  }
}

@media (max-width: 376px) {
  .caption {
    font-size: var(--fs-1);
  }
}
