.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 135px;
  border-top: 2px solid hsl(228, 14%, 80%);
  width: 90%;
  margin: 48px 0 0 6%;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.link {
  color: hsl(201, 23%, 34%);
  text-decoration: none;
  font-size: 20px;
  transition: color 200ms;
  font-family: 'Open Sans', sans-serif;
}

.link:hover {
  cursor: pointer;
}

.iconContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(214, 76%, 54%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
}

.iconContainer:hover {
  background-color: hsl(214, 76%, 44%);
}

.icon {
  margin-bottom: 0;
  color: hsl(228, 14%, 79%);
}

/* .line {
  border-left: 2px solid #2f7de3;
  height: 20px;
  transform: rotate(20deg);
} */
