.container {
  /* position: absolute; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  border-top: 1px solid gray;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  /* bottom: 0; */
}

.linksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.link {
  color: #707070;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  transition: color 200ms;
}

.link:hover {
  color: black;
  cursor: pointer;
}

.line {
  border-left: 2px solid #2f7de3;
  height: 20px;
  transform: rotate(20deg);
}
