.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  border-top: 1px solid gray;
  width: 90%;
  margin-left: 6%;
  margin-top: 50px;
}

.linksContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.link {
  color: #707070;
  text-decoration: none;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-se rif; */
  font-size: 19px;
  transition: color 200ms;
  font-family: 'Source Sans Pro', sans-serif;
}

.link:hover {
  color: black;
  cursor: pointer;
}

.line {
  border-left: 2px solid #2f7de3;
  height: 20px;
  transform: rotate(20deg);
}
