.projectDetails {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: var(--pt-0) var(--pr-3) var(--pb-0) var(--pl-3);
  margin-top: var(--mt-7);
}

.title {
  font-size: var(--fs-1);
  letter-spacing: 2px;
  font-weight: var(--fw-5);
  text-transform: uppercase;
  color: hsl(228, 21%, 31%);
  margin-bottom: var(--mb-3);
}

.description {
  font-size: var(--fs-4);
  width: 240px;
  padding-bottom: var(--pb-1);
}

.technologies {
  margin-block-end: 0;
}
